<script type="text/javascript" charset="utf-8">
  if (typeof jQuery == 'undefined') {
    var jquery_url = '/__rack_bug__/jquery-1.3.2.js';
    document.write(unescape('%3Cscript src="' + jquery_url + '" type="text/javascript"%3E%3C/script%3E'));
  }
</script>
<script type="text/javascript" src="/__rack_bug__/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/__rack_bug__/bug.js"></script>
<style type="text/css" media="screen">
  @import url(/__rack_bug__/bug.css);
</style>

<div id="rack_bug" class="rb_top">
  <div id="rack_bug_toolbar">
    <ul class="panels">
      <li id="rb_debug_button">Rack::Bug</li>
    
      <% panels.each do |panel| %>
        <li>
          <% if panel.has_content? %>
            <a href="#" class="<%= panel.name %>">
              <%= panel.heading %>
            </a>
          <% else %>
            <%= panel.heading %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <% panels.each do |panel| %>
    <% if panel.has_content? %>
      <div class="panel_content" id="<%= panel.name %>">
        <a href="" class="rack_bug_close">Close</a>
        <%= panel.content %>
      </div>
    <% end %>
  <% end %>
  
  <div id="rack_bug_debug_window" class="panel_content"></div>
</div>
