<li id="insight_disable_button">[X]</li>
<li id="insight_debug_button">Insight (req# <span id="request_id"><%= request_id %></span>)</li>
<% panels.each do |panel| %>
  <li>
  <% begin %>
    <% if panel.has_content? %>
      <a href="#" class="<%= panel.name %>">
        <%= panel.heading_for_request(request_id) %>
      </a>
    <% else %>
      <%= panel.heading_for_request(request_id) %>
    <% end %>
  <% rescue Object => ex %>
    Err: <%= panel.name rescue "xxx" %>
    <!-- <%= ([ex.class.name, ex.message] + ex.backtrace[0..5]).join("\n") %> -->
  <% end %>
  </li>
<% end %>
