<a class="back" href="">&laquo;&nbsp;Back</a>

<h3>SQL Results</h3>

<dl>
  <dt>Executed SQL</dt>
  <dd><pre><%=h query %></pre></dd>
  
  <dt>Time</dt>
  <dd><%=h "%.2f" % (time * 1_000) %>ms</dd>
</dl>

<table class="sortable">
  <thead>
    <tr>
      <% result.fetch_fields.each do |field| %>
        <th><%= field.name.upcase %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% result.each do |row| %>
      <tr class="<%= i % 2 == 0 ? "even" : "odd" %>">
        <% row.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>
