<h3><%= name %></h3>
<table>
  <thead>
    <tr>
      <%- members = invocations.last.members # is a struct, so we have members, not keys %>
      <%- members.each do |member| %>
        <td><%= member  %></td>
      <%- end %>
    </tr>
  </thead>
  <tbody>
  <%- invocations.each do |invocation| %>
    <tr>
      <%- members.each do |member| %>
        <td>
          <%- if member == :backtrace %>
            <%- invocation.filtered_backtrace.each do |line| %>
              <%= line %><br/>
            <%- end %>
          <%- elsif member == :time %>
            <%= invocation.human_time %>
          <%- else %>
            <%= invocation.send(member).inspect %>
          <%- end %>
        </td>
      <%- end %>
    </tr>
  <%- end %>
  </tbody>
</table>
