<li id="rack-insight_disable_button">[X]</li>
<li id="rack-insight_debug_button">Rack::Insight (req# <span id="request_id"><%= request_id %></span>)</li>
<% panels.each do |panel| %>
  <li>
  <% begin %>
    <% if panel.has_content? %>
      <a href="#" class="<%= panel.camelized_name %>Panel">
        <%= panel.heading_for_request(request_id) %>
      </a>
    <% else %>
      <a href="javascript:void(0);">
        <%= panel.heading_for_request(request_id) %>
      </a>
    <% end %>
  <% rescue StandardError => ex %>
    Err5: <%= panel.name rescue "xxx" %>
    <!-- Panel: <%= panel.inspect %> -->
    <!-- <%= ([ex.class.name, ex.message] + ex.backtrace).join("\n") %> -->
  <% end %>
  </li>
<% end %>
