<h3>Trace</h3>
<h4>Process: <%= Process.pid %>  (<%= Process.ppid %>)</h4>
<% unless advice.empty? %>
  <p>Warning:</p>
  <ul>
    <% advice.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
<% end %>
<dl>
  <% if trace.nil? %>
    <dt>Problem</dt><dd>Trace is nil</dd>
  <% else %>
    <dt><%= trace.uuid %> - <%= trace.start.strftime("%H:%M:%S") %></dt>
    <dd><%= trace.to_html %></dd>
  <% end %>
</dl>
